<<<<<<< HEAD
.formulir .row{
    display: flex;
    align-items: center;
    border-radius: 10px;
}

/* .about .row .images{
} */

.formulir .row .images img{
    width: 75%;
    border-radius: 5px;
}
.formulir .row .content{
    flex:25rem;
}

.formulir .row .content p{
    color: #394c71;
    padding:1rem 0;
    line-height: 1.8;
}

form
{
    padding: 40px;
    background: #dcdcde;
    border-radius: 20px;
}

input, textarea
{
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.link{
    color: white;
}
.warna5 {
    background-color: #3875fa;
}.send{
    width: 100%;
    background-color: rgb(66, 109, 236);
    color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.send:hover{
    transform: scale(0.9);
}


=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

.teks{
    font-family: 'Poppins';
}
>>>>>>> 80003140a4a0ba43b8a56f6fe7fef988f67a41f0
